<h1 mat-dialog-title>
    Edit role
</h1>
<div mat-dialog-content>
    <mat-form-field>
    <input placeholder="Name" matInput [(ngModel)]="data.name">
    </mat-form-field><br>
    <mat-form-field>
    <input placeholder="Description" matInput [(ngModel)]="data.description">
    </mat-form-field><br>
    <mat-form-field>
        <input placeholder="Permissions" matInput [(ngModel)]="data.permissions">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button type="submit" class="btn btn-white" [mat-dialog-close]="data">
        Submit
        <div class="ripple-container"></div>
    </button>
    <button mat-raised-button type="submit" class="btn btn-white" (click)="onClick()">
        Close
        <div class="ripple-container"></div>
    </button>
</div>